@page "/categorias"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using MyCOLL.Data.Entities
@using MyCOLL.Data.Data
@implements IAsyncDisposable
@inject IDbContextFactory<MyCOLL.Data.Data.ApplicationDbContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="categorias/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Categorias">
    <TemplateColumn Context="categoria" Title="Imagem" Class="col-1">
        @*Se nao for null e se tiver conteudo*@
        @if (categoria.Imagem is not null && categoria.Imagem.Length > 0) {
            <img src="@($"data:image/png;base64, {Convert.ToBase64String(categoria.Imagem)}")" alt="@categoria.Nome" style="max-width: 100px; max-height: 100px;"/>
        } else {
            <img src="img/placeholderImg.png" alt="Sem imagem" style="max-width: 100px; max-height: 100px"/>
        }
    </TemplateColumn>

    <PropertyColumn Property="categoria => categoria.Nome"/>
    <PropertyColumn Property="categoria => categoria.Ordem"/>

    <TemplateColumn Context="categoria">
        <a href="@($"categorias/edit?id={categoria.Id}")">Edit</a> |
        <a href="@($"categorias/details?id={categoria.Id}")">Details</a> |
        <a href="@($"categorias/delete?id={categoria.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private ApplicationDbContext context = default!;

    protected override void OnInitialized() {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
