@page "/paises/delete"
@using Microsoft.EntityFrameworkCore
@using MyCOLL.Data.Entities
@inject IDbContextFactory<MyCOLL.Data.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Eliminar País</PageTitle>

<h1>Eliminar País</h1>

<p class="text-danger">
    <strong>Tem a certeza que pretende eliminar este país?</strong>
</p>
<div>
    <hr/>
    @if (pais is null) {
        <p>
            <em>A carregar...</em>
        </p>
    } else {
        <dl class="row">
            <dt class="col-sm-2">Nome</dt>
            <dd class="col-sm-10">@pais.Nome</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Código ISO</dt>
            <dd class="col-sm-10">@pais.CodigoISO</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Ordem</dt>
            <dd class="col-sm-10">@pais.Ordem</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Bandeira</dt>
            <dd class="col-sm-10">
                @if (pais.Bandeira is not null && pais.Bandeira.Length > 0) {
                    <img src="@($"data:image/png;base64, {Convert.ToBase64String(pais.Bandeira)}")" alt="@pais.Nome" style="max-width: 100px; max-height: 100px;"/>
                } else {
                    <img src="img/placeholderImg.png" alt="Sem imagem" style="max-width: 100px; max-height: 100px"/>
                }
            </dd>
        </dl>
        <EditForm method="post" Model="pais" OnValidSubmit="DeletePais" FormName="delete">
            <button type="submit" class="btn btn-danger" disabled="@(pais is null)">Eliminar</button> |
            <a href="/paises">Cancelar</a>
        </EditForm>
    }
</div>

@code {
    private Pais? pais;

    [SupplyParameterFromQuery] private int Id { get; set; }

    protected override async Task OnInitializedAsync() {
        using var context = DbFactory.CreateDbContext();
        pais = await context.Paises.FirstOrDefaultAsync(m => m.Id == Id);

        if (pais is null) {
            NavigationManager.NavigateTo("notfound");
        }
    }

    private async Task DeletePais() {
        using var context = DbFactory.CreateDbContext();
        context.Paises.Remove(pais!);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/paises");
    }

}
