@page "/produtos/details"
@using Microsoft.EntityFrameworkCore
@using MyCOLL.Data.Entities
@using MyCOLL.Data.Data
@inject IDbContextFactory<ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Detalhes Produto</PageTitle>

<h1>Detalhes do Produto</h1>

<div>
    <hr/>
    @if (produto is null) {
        <p>
            <em>A carregar...</em>
        </p>
    } else {
        <div class="row">
            <div class="col-md-3">
                @if (produto.Imagem is not null && produto.Imagem.Length > 0) {
                    <img src="@($"data:image/png;base64, {Convert.ToBase64String(produto.Imagem)}")" alt="@produto.Nome" style="max-width: 100px; max-height: 100px;"/>
                } else {
                    <img src="img/placeholderImg.png" alt="Sem imagem" style="max-width: 100px; max-height: 100px"/>
                }
            </div>
            <div class="col-md-9">
                <dl class="row">
                    <dt class="col-sm-3">Stock</dt>
                    <dd class="col-sm-9">@produto.Stock</dd>
                    <dt class="col-sm-3">Para Venda</dt>
                    <dd class="col-sm-9">@(produto.ParaVenda ? "Sim" : "Não")</dd>
                    <dt class="col-sm-3">Activo</dt>
                    <dd class="col-sm-9">@(produto.Activo ? "Sim" : "Não")</dd>
                    <dt class="col-sm-3">Estado</dt>
                    <dd class="col-sm-9">@produto.Estado</dd>
                    <dt class="col-sm-3">Ano</dt>
                    <dd class="col-sm-9">@produto.Ano</dd>
                    <dt class="col-sm-3">Data Criação</dt>
                    <dd class="col-sm-9">@produto.DataCriacao.ToString("dd/MM/yyyy")</dd>
                </dl>
                <hr/>
                <dl class="row">
                    <dt class="col-sm-3">Tipo Colecionável</dt>
                    <dd class="col-sm-9">@produto.TipoColecionavel?.Nome</dd>
                    <dt class="col-sm-3">Categoria</dt>
                    <dd class="col-sm-9">@produto.Categoria?.Nome</dd>
                    <dt class="col-sm-3">País</dt>
                    <dd class="col-sm-9">@produto.Pais?.Nome</dd>
                    <dt class="col-sm-3">Modo Disponibilização</dt>
                    <dd class="col-sm-9">@produto.ModoDisponibilizacao?.Nome</dd>
                    <dt class="col-sm-3">Fornecedor</dt>
                    <dd class="col-sm-9">@produto.Fornecedor?.Nome @produto.Fornecedor?.Apelido (@produto.Fornecedor?.Email)</dd>
                </dl>
            </div>
        </div>
        <hr/>
        <div>
            <a href="@($"/produtos/edit?id={produto.Id}")">Editar</a> |
            <a href="/produtos">Voltar à lista</a>
        </div>
    }
</div>

@code {
    private Produto? produto;

    [SupplyParameterFromQuery] private int Id { get; set; }

    protected override async Task OnInitializedAsync() {
        using var context = DbFactory.CreateDbContext();
        produto = await context.Produtos
            .Include(p => p.TipoColecionavel)
            .Include(p => p.Categoria)
            .Include(p => p.Pais)
            .Include(p => p.ModoDisponibilizacao)
            .Include(p => p.Fornecedor)
            .FirstOrDefaultAsync(m => m.Id == Id);

        if (produto is null) {
            NavigationManager.NavigateTo("notfound");
        }
    }

}
