@page "/produtos/edit"
@using Microsoft.EntityFrameworkCore
@using MyCOLL.Data.Entities
@using MyCOLL.Data.Data
@inject IDbContextFactory<ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Editar Produto</PageTitle>

<h1>Editar Produto</h1>

<hr/>
@if (Produto is null) {
    <p>
        <em>Loading...</em>
    </p>
} else {
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Produto" OnValidSubmit="UpdateProduto" FormName="edit">
                <DataAnnotationsValidator/>
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Produto.Id" value="@Produto.Id"/>
                <div class="mb-3">
                    <span class="text-danger">*</span>
                    <label for="nome" class="form-label">Nome:</label>
                    <InputText id="nome" @bind-Value="Produto.Nome" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => Produto.Nome" class="text-danger"/>
                </div>
                <div class="mb-3">
                    <span class="text-danger">*</span>
                    <label for="descricao" class="form-label">Descrição:</label>
                    <InputText id="descricao" @bind-Value="Produto.Descricao" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => Produto.Descricao" class="text-danger"/>
                </div>
                <div class="mb-3">
                    <span class="text-danger">*</span>
                    <label for="precobase" class="form-label">Preço Base:</label>
                    <InputNumber id="precobase" @bind-Value="Produto.PrecoBase" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => Produto.PrecoBase" class="text-danger"/>
                </div>
                <div class="mb-3">
                    <label for="percentagem" class="form-label">Percentagem:</label>
                    <InputNumber id="percentagem" @bind-Value="Produto.Percentagem" class="form-control"/>
                    <ValidationMessage For="() => Produto.Percentagem" class="text-danger"/>
                </div>

                <div class="mb-3">
                    <label for="stock" class="form-label">Stock:</label>
                    <InputNumber id="stock" @bind-Value="Produto.Stock" class="form-control"/>
                    <ValidationMessage For="() => Produto.Stock" class="text-danger"/>
                </div>
                <div class="mb-3">
                    <label for="paravenda" class="form-label">Para Venda:</label>
                    <InputCheckbox id="paravenda" @bind-Value="Produto.ParaVenda" class="form-check-input"/>
                    <ValidationMessage For="() => Produto.ParaVenda" class="text-danger"/>
                </div>
                <div class="mb-3">
                    <label for="activo" class="form-label">Activo:</label>
                    <InputCheckbox id="activo" @bind-Value="Produto.Activo" class="form-check-input"/>
                    <ValidationMessage For="() => Produto.Activo" class="text-danger"/>
                </div>
                <div class="mb-3">
                    <label for="estado" class="form-label">Estado:</label>
                    <InputSelect id="estado" class="form-select" @bind-Value="Produto.Estado">
                        <option value="Novo">Novo</option>
                        <option value="Como Novo">Como Novo</option>
                        <option value="Usado">Usado</option>
                        <option value="Danificado">Danificado</option>
                        <option value="Restaurado">Restaurado</option>
                    </InputSelect>
                    <ValidationMessage For="() => Produto.Estado" class="text-danger"/>
                </div>
                <div class="mb-3">
                    <label for="ano" class="form-label">Ano:</label>
                    <InputNumber id="ano" @bind-Value="Produto.Ano" class="form-control"/>
                    <ValidationMessage For="() => Produto.Ano" class="text-danger"/>
                </div>
                <div class="mb-3">
                    <label for="urlimagem" class="form-label">URL Imagem:</label>
                    <InputText id="urlimagem" @bind-Value="Produto.UrlImagem" class="form-control"/>
                    <ValidationMessage For="() => Produto.UrlImagem" class="text-danger"/>
                </div>
                <div class="mb-3">
                    <label for="imagem" class="form-label">Imagem:</label>
                    <InputFile id="imagem" OnChange="OnImageChange" class="form-control" accept=".png, .jpg, .jpeg"/>
                    @if (previewUrl is not null) {
                        <img src="@previewUrl" style="max-width: 200px; max-height: 200px; margin-top: 10px;"/>
                    } else {
                        if (Produto.Imagem is not null && Produto.Imagem.Length > 0) {
                            <img src="@($"data:image/png;base64,{Convert.ToBase64String(Produto.Imagem)}")" alt="@Produto.Nome" style="max-width: 200px; max-height: 200px; margin-top: 10px"/>
                        } else {
                            <img src="img/placeholderImg.png" alt="Sem imagem" style="max-width: 200px; max-height: 200px; margin-top: 10px"/>
                        }
                    }
                    <ValidationMessage For="() => Produto.Imagem" class="text-danger"/>
                </div>
                <div class="mb-3">
                    <label for="datacriacao" class="form-label">Data Criação:</label>
                    <InputDate id="datacriacao" @bind-Value="Produto.DataCriacao" class="form-control"/>
                    <ValidationMessage For="() => Produto.DataCriacao" class="text-danger"/>
                </div>
                <div class="mb-3">
                    <span class="text-danger">*</span>
                    <label for="fornecedorid" class="form-label">Fornecedor:</label>
                    <InputSelect id="fornecedorid" class="form-select" @bind-Value="Produto.FornecedorId">
                        <option value="">Escolha um fornecedor</option>
                        @foreach (var item in fornecedores) {
                            <option value="@item.Id">@item.Nome @item.Apelido (@item.Email)</option>
                        }
                    </InputSelect>
                    <ValidationMessage For="() => Produto.FornecedorId" class="text-danger"/>
                </div>
                <div class="mb-3">
                    <span class="text-danger">*</span>
                    <label for="tipocolecionavelid" class="form-label">Tipo Colecionável:</label>
                    <InputSelect id="tipocolecionavelid" class="form-select" @bind-Value="Produto.TipoColecionavelId">
                        @foreach (var item in tiposColecionaveis) {
                            <option value="@item.Id">@item.Nome</option>
                        }
                    </InputSelect>
                    <ValidationMessage For="() => Produto.TipoColecionavelId" class="text-danger"/>
                </div>
                <div class="mb-3">
                    <label for="paisid" class="form-label">País:</label>
                    <InputSelect id="paisid" class="form-select" @bind-Value="Produto.PaisId">
                        <option value="">Escolha um país</option>
                        @foreach (var item in paises) {
                            <option value="@item.Id">@item.Nome</option>
                        }
                    </InputSelect>
                    <ValidationMessage For="() => Produto.PaisId" class="text-danger"/>
                </div>
                <div class="mb-3">
                    <label for="categoriaid" class="form-label">Categoria:</label>
                    <InputSelect id="categoriaid" class="form-select" @bind-Value="Produto.CategoriaId">
                        <option value="">Escolha uma categoria</option>
                        @foreach (var item in categorias) {
                            <option value="@item.Id">@item.Nome</option>
                        }
                    </InputSelect>
                    <ValidationMessage For="() => Produto.CategoriaId" class="text-danger"/>
                </div>
                <div class="mb-3">
                    <span class="text-danger">*</span>
                    <label for="mododisponibilizacaoid" class="form-label">Modo Disponibilização:</label>
                    <InputSelect id="mododisponibilizacaoid" class="form-select" @bind-Value="Produto.ModoDisponibilizacaoId">
                        @foreach (var item in modosDisponibilizacao) {
                            <option value="@item.Id">@item.Nome</option>
                        }
                    </InputSelect>
                    <ValidationMessage For="() => Produto.ModoDisponibilizacaoId" class="text-danger"/>
                </div>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/produtos">Voltar à lista</a>
</div>

@code {
    [SupplyParameterFromQuery] private int Id { get; set; }

    [SupplyParameterFromForm] private Produto? Produto { get; set; }

    private string? previewUrl;

    // Listas para os InputSelect
    List<ApplicationUser> fornecedores = new();
    List<TipoColecionavel> tiposColecionaveis = new();
    List<Pais> paises = new();
    List<Categoria> categorias = new();
    List<ModoDisponibilizacao> modosDisponibilizacao = new();

    private async Task OnImageChange(InputFileChangeEventArgs e) {
        var file = e.File;

        // Definir limite de 5MB
        var maxSize = 5 * 1024 * 1024; // 5MB

        if (file.Size > maxSize) {
            throw new Exception("Imagem muito grande. O limite é de 5MB.");
        }

        using var stream = new MemoryStream();
        await file.OpenReadStream(maxSize).CopyToAsync(stream);
        Produto!.Imagem = stream.ToArray();

        //Cria pré-visualização
        using var previewStream = new MemoryStream();
        await file.OpenReadStream(maxSize).CopyToAsync(previewStream);
        var base64 = Convert.ToBase64String(previewStream.ToArray());
        previewUrl = $"data:{file.ContentType};base64,{base64}";
    }

    protected override async Task OnInitializedAsync() {
        using var context = DbFactory.CreateDbContext();
        Produto ??= await context.Produtos.FirstOrDefaultAsync(m => m.Id == Id);

        // Carregar listas para os dropdowns
        fornecedores = await context.Users.Where(u => u.TipoUtilizador == "Fornecedor").ToListAsync();
        tiposColecionaveis = await context.TiposColecionaveis.OrderBy(t => t.Ordem).ToListAsync();
        paises = await context.Paises.OrderBy(p => p.Ordem).ToListAsync();
        categorias = await context.Categorias.OrderBy(c => c.Ordem).ToListAsync();
        modosDisponibilizacao = await context.ModosDisponibilizacao.ToListAsync();

        if (Produto is null) {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateProduto() {
        // Calcular PrecoFinal automaticamente
        Produto!.PrecoFinal = Produto.PrecoBase * (1 + Produto.Percentagem / 100);

        using var context = DbFactory.CreateDbContext();
        context.Attach(Produto!).State = EntityState.Modified;

        try {
            await context.SaveChangesAsync();
        } catch (DbUpdateConcurrencyException) {
            if (!ProdutoExists(Produto!.Id)) {
                NavigationManager.NavigateTo("notfound");
            } else {
                throw;
            }
        }

        NavigationManager.NavigateTo("/produtos");
    }

    private bool ProdutoExists(int id) {
        using var context = DbFactory.CreateDbContext();
        return context.Produtos.Any(e => e.Id == id);
    }

}
