@page "/produtos"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using MyCOLL.Data.Entities
@using MyCOLL.Data.Data
@implements IAsyncDisposable
@inject IDbContextFactory<ApplicationDbContext> DbFactory

<PageTitle>Produtos</PageTitle>

<h1>Produtos</h1>

<p>
    <a href="produtos/create">Criar novo produto</a>
</p>

<QuickGrid Class="table" Items="produtos.AsQueryable()">
    <TemplateColumn Context="produto" Title="Imagem" Class="col-1">
        @*Se nao for null e se tiver conteudo*@
        @if (produto.Imagem is not null && produto.Imagem.Length > 0) {
            <img src="@($"data:image/png;base64, {Convert.ToBase64String(produto.Imagem)}")" alt="@produto.Nome" style="max-width: 100px; max-height: 100px;"/>
        } else {
            <img src="img/placeholderImg.png" alt="Sem imagem" style="max-width: 100px; max-height: 100px"/>
        }
    </TemplateColumn>
    <PropertyColumn Property="p => p.Nome" Title="Nome"/>
    <PropertyColumn Property="p => p.PrecoFinal" Title="Preço (€)"/>
    <PropertyColumn Property="p => p.Stock" Title="Stock"/>
    <PropertyColumn Property="p => p.Estado" Title="Estado"/>
    <TemplateColumn Context="p" Title="Tipo">
        @p.TipoColecionavel?.Nome
    </TemplateColumn>
    <TemplateColumn Context="p" Title="Categoria">
        @p.Categoria?.Nome
    </TemplateColumn>
    <TemplateColumn Context="p" Title="País">
        @p.Pais?.Nome
    </TemplateColumn>
    <TemplateColumn Context="p" Title="Fornecedor">
        @p.Fornecedor?.Nome @p.Fornecedor?.Apelido
    </TemplateColumn>

    <TemplateColumn Context="p" Title="Ações">
        <a href="@($"produtos/edit?id={p.Id}")">
            <i class="bi bi-pencil-square"></i>
        </a> |
        <a href="@($"produtos/details?id={p.Id}")">
            <i class="bi bi-eye-fill"></i>
        </a> |
        <a href="@($"produtos/delete?id={p.Id}")">
            <i class="bi bi-trash-fill"></i>
        </a>
    </TemplateColumn>
</QuickGrid>

@code {
    private ApplicationDbContext context = default!;
    private List<Produto> produtos = new();

    protected override async Task OnInitializedAsync() {
        context = DbFactory.CreateDbContext();
        produtos = await context.Produtos
            .Include(p => p.TipoColecionavel)
            .Include(p => p.Categoria)
            .Include(p => p.Pais)
            .Include(p => p.Fornecedor)
            .Include(p => p.ModoDisponibilizacao)
            .ToListAsync();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
