@page "/tiposcolecionaveis/details"
@using Microsoft.EntityFrameworkCore
@using MyCOLL.Data.Entities
@inject IDbContextFactory<MyCOLL.Data.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Detalhes Tipo de Colecionável</PageTitle>

<h1>Detalhes do Tipo de Colecionável</h1>

<div>
    <hr/>
    @if (tipocolecionavel is null) {
        <p>
            <em>A carregar...</em>
        </p>
    } else {
        <dl class="row">
            <dt class="col-sm-2">Nome</dt>
            <dd class="col-sm-10">@tipocolecionavel.Nome</dd>
            <dt class="col-sm-2">Ordem</dt>
            <dd class="col-sm-10">@tipocolecionavel.Ordem</dd>
            <dt class="col-sm-2">URL Imagem</dt>
            <dd class="col-sm-10">@tipocolecionavel.UrlImagem</dd>
            <dt class="col-sm-2">Imagem</dt>
            <dd class="col-sm-10">
                @if (tipocolecionavel.Imagem is not null && tipocolecionavel.Imagem.Length > 0) {
                    <img src="@($"data:image/png;base64, {Convert.ToBase64String(tipocolecionavel.Imagem)}")" alt="@tipocolecionavel.Nome" style="max-width: 100px; max-height: 100px;"/>
                } else {
                    <img src="img/placeholderImg.png" alt="Sem imagem" style="max-width: 100px; max-height: 100px"/>
                }
            </dd>
        </dl>
        <div>
            <a href="@($"/tiposcolecionaveis/edit?id={tipocolecionavel.Id}")">Editar</a> |
            <a href="/tiposcolecionaveis">Voltar à lista</a>
        </div>
    }
</div>

@code {
    private TipoColecionavel? tipocolecionavel;

    [SupplyParameterFromQuery] private int Id { get; set; }

    protected override async Task OnInitializedAsync() {
        using var context = DbFactory.CreateDbContext();
        tipocolecionavel = await context.TiposColecionaveis.FirstOrDefaultAsync(m => m.Id == Id);

        if (tipocolecionavel is null) {
            NavigationManager.NavigateTo("notfound");
        }
    }

}
