@page "/tiposcolecionaveis"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using MyCOLL.Data.Entities
@using MyCOLL.Data.Data
@implements IAsyncDisposable
@inject IDbContextFactory<MyCOLL.Data.Data.ApplicationDbContext> DbFactory

<PageTitle>Tipos de Colecionáveis</PageTitle>

<h1>Tipos de Colecionáveis</h1>

<p>
    <a href="tiposcolecionaveis/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.TiposColecionaveis">
    @*
    Substituir a imagem por um preview da imagem
    <PropertyColumn Property="categoria => categoria.Imagem" />
    *@
    <TemplateColumn Context="tipocolecionavel" Title="Imagem" Class="col-1">
        @*Se nao for null e se tiver conteudo*@
        @if (tipocolecionavel.Imagem is not null && tipocolecionavel.Imagem.Length > 0) {
            <img src="@($"data:image/png;base64, {Convert.ToBase64String(tipocolecionavel.Imagem)}")" alt="@tipocolecionavel.Nome" style="max-width: 100px; max-height: 100px;"/>
        } else {
            <img src="img/placeholderImg.png" alt="Sem imagem" style="max-width: 100px; max-height: 100px"/>
        }
    </TemplateColumn>

    <PropertyColumn Property="tipocolecionavel => tipocolecionavel.Nome"/>
    <PropertyColumn Property="tipocolecionavel => tipocolecionavel.Ordem"/>
    @* <PropertyColumn Property="tipocolecionavel => tipocolecionavel.UrlImagem"/> *@
    @* <PropertyColumn Property="tipocolecionavel => tipocolecionavel.Imagem"/> *@

    <TemplateColumn Context="tipocolecionavel">
        <a href="@($"tiposcolecionaveis/edit?id={tipocolecionavel.Id}")">Edit</a> |
        <a href="@($"tiposcolecionaveis/details?id={tipocolecionavel.Id}")">Details</a> |
        <a href="@($"tiposcolecionaveis/delete?id={tipocolecionavel.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private ApplicationDbContext context = default!;

    protected override void OnInitialized() {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
