@page "/encomendas/delete"
@using Microsoft.EntityFrameworkCore
@using MyCOLL.Data.Entities
@using MyCOLL.Data.Data
@inject IDbContextFactory<ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Eliminar Encomenda</PageTitle>

<h1>Eliminar Encomenda</h1>

<p class="text-danger">
    <strong>Tem a certeza que pretende eliminar esta encomenda?</strong>
</p>
<div>
    <hr/>
    @if (encomenda is null) {
        <p>
            <em>A carregar...</em>
        </p>
    } else {
        <dl class="row">
            <dt class="col-sm-2">Data Encomenda</dt>
            <dd class="col-sm-10">@encomenda.DataEncomenda.ToString("dd/MM/yyyy")</dd>
            <dt class="col-sm-2">Estado</dt>
            <dd class="col-sm-10">@encomenda.Estado</dd>
            <dt class="col-sm-2">Total</dt>
            <dd class="col-sm-10">@encomenda.Total.ToString("C")</dd>
            <dt class="col-sm-2">Observações</dt>
            <dd class="col-sm-10">@encomenda.Observacoes</dd>
            <dt class="col-sm-2">Cliente</dt>
            <dd class="col-sm-10">@encomenda.Cliente?.Nome @encomenda.Cliente?.Apelido (@encomenda.Cliente?.Email)</dd>
        </dl>
        <EditForm method="post" Model="encomenda" OnValidSubmit="DeleteEncomenda" FormName="delete">
            <button type="submit" class="btn btn-danger" disabled="@(encomenda is null)">Eliminar</button> |
            <a href="/encomendas">Cancelar</a>
        </EditForm>
    }
</div>

@code {
    private Encomenda? encomenda;

    [SupplyParameterFromQuery] private int Id { get; set; }

    protected override async Task OnInitializedAsync() {
        using var context = DbFactory.CreateDbContext();
        encomenda = await context.Encomendas.Include(e => e.Cliente).FirstOrDefaultAsync(m => m.Id == Id);

        if (encomenda is null) {
            NavigationManager.NavigateTo("notfound");
        }
    }

    private async Task DeleteEncomenda() {
        using var context = DbFactory.CreateDbContext();
        context.Encomendas.Remove(encomenda!);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/encomendas");
    }

}

