@page "/encomendas/details"
@using Microsoft.EntityFrameworkCore
@using MyCOLL.Data.Entities
@inject IDbContextFactory<MyCOLL.Data.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Encomenda</h2>
    <hr/>
    @if (encomenda is null) {
        <p>
            <em>Loading...</em>
        </p>
    } else {
        <dl class="row">
            <dt class="col-sm-2">DataEncomenda</dt>
            <dd class="col-sm-10">@encomenda.DataEncomenda</dd>
            <dt class="col-sm-2">Estado</dt>
            <dd class="col-sm-10">@encomenda.Estado</dd>
            <dt class="col-sm-2">Total</dt>
            <dd class="col-sm-10">@encomenda.Total</dd>
            <dt class="col-sm-2">Observacoes</dt>
            <dd class="col-sm-10">@encomenda.Observacoes</dd>
            <dt class="col-sm-2">ClienteId</dt>
            <dd class="col-sm-10">@encomenda.ClienteId</dd>
        </dl>
        <div>
            <a href="@($"/encomendas/edit?id={encomenda.Id}")">Edit</a> |
            <a href="@($"/encomendas")">Back to List</a>
        </div>
    }
</div>

@code {
    private Encomenda? encomenda;

    [SupplyParameterFromQuery] private int Id { get; set; }

    protected override async Task OnInitializedAsync() {
        using var context = DbFactory.CreateDbContext();
        encomenda = await context.Encomendas.FirstOrDefaultAsync(m => m.Id == Id);

        if (encomenda is null) {
            NavigationManager.NavigateTo("notfound");
        }
    }

}
